@page "/galeriazdjec"

<PageTitle>Moja Galeria zdjęć</PageTitle>

<h1>Moja Galeria zdjęć</h1>

<OpisGalerii Color="green" />

<h2>Zdjęcie mojego kotka</h2>

<img src="/Images/kotek.png" width="500px" />

<h2>Zdjęcie pieska mojego kolegi</h2>

<img src="/Images/piesek.png" width="500px" />

<h2>Panorama Łodzi</h2>

<img src="/Images/panorama.png" width="500px" />

@code {

}
